/*Universal Selector*/
* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    list-style-type: none;
    text-decoration: none;
}

/*Individual style selectors*/